* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url(/images/bg-flower.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    position: relative;
    background-position: right;
    background-attachment: fixed;
}

.nav {
    width: 100%;
    height: 75px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.logo {
    height: 3vw;
    width: auto;
    align-self: center;
}

.navbox1 {
    height: 100%;
    width: 60vw;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 2.2vmin;
    gap: 0.3vmin;
}

.navbox1 .fa-chevron-down {
    font-size: 1vmin;
}

.fa-sistrix {
    padding: 10px 10px 10px 30px;
    border: 1px solid black;
    border-radius: 30px;
}

.navbox1 li,
.fa-magnifying-glass {
    cursor: pointer;
}

.ul-hover .fa-chevron-down {
    transition: .5s;
}

.ul-hover:hover .fa-chevron-down {
    rotate: -180deg;
}

.navbox2 {
    height: 100%;
    width: 17%;
    font-size: 1.5vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbox2 p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-bg {
    height: 493px;
    width: 100%;
    background-color: aquamarine;
    background-image: url(/images/under\ nav\ bar\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sheet {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 253, 253, 0.331);
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxcontent {
    height: 64%;
    width: 55vw;
    /* background-color: rgb(69, 62, 53); */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 1vw;

}

.p-colour {
    color: #68203B;
    text-align: center;
    font-size: 3vw;
    font-weight: 500;
}

.boxcontent2 {
    margin: auto;
    height: 49px;
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 0 2px;
    font-size: 1.8vmin;
}

.button-content {
    color: white;
    background-color: #c51010;
    height: 44px;
    /* width: 120px; */
    padding: 0 3vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.lastboxcontent {
    /* padding: 3px 1px; */
    width: 100%;
    height: auto;
    background-color: rgba(255, 253, 253, 0.616);
    color: rgb(88, 87, 87);
    font-size: large;
    border-radius: 4px;
    padding: 3px;
}

.fa-star {
    color: goldenrod;
}

.a-content {
    color: rgb(88, 87, 87);
}

.naira {
    height: 50px;
    width: 50px;
    background-color: rgba(233, 230, 232, 0.212);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 2vw;
    top: 140px;
}

.naira-button {
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 100px;
    background-color: #9B0000;
    color: white;
    font-size: larger;
}


.whatsapp {
    height: 50px;
    width: 50px;
    background-color: rgba(128, 128, 128, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 7vw;
    bottom: 7vw;
}

.whatsapp-button {
    border: none;
    border-radius: 100%;
    size: 100px;
}

.fa-whatsapp {
    height: 50px;
    width: 50px;
    color: rgb(36, 194, 116);
}

.parentbox {
    width: 84.2%;
    padding: 20px 0;
    /* background-color: aqua; */
    display: flex;
    justify-self: center;
    margin-top: 0.3vw;
    gap: 20px;
    flex-direction: column;
}

.popularbox {
    width: 100%;
    height: auto;

}

.popularbox h2 {
    font-size: 2.5vmin;
}

.popularbox2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.see-all-button {
    height: 100%;
    width: 100px;
    background-color: transparent;
    color: #9B0000;
    border: none;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.see-all-button:hover {
    transition: .5s;
}

.see-all-button:hover {
    background-color: rgba(170, 177, 177, 0.434);
}

.itemsbox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.freshflowers {
    width: 24%;
    height: 333px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 1vw;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.082);
    border-radius: 3px;
    padding-bottom: 10px;

}

.fresh-flowers-image {
    height: 70%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;

}

.fresh-flowers-image img {
    height: 100%;
    width: 100%;
    transition: .5s;
}

.fresh-flowers-image img:hover {

    scale: 1.2;
}

.fresh-flower-text1 {
    height: 30%;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h .p1 {
    font-weight: 500;
    text-align: center;

}

.p2 {
    font-size: small;
    text-align: center;
    color: #0000007d;
}


.see-more-button {
    height: 27px;
    width: 85px;
    color: white;
    background-color: rgb(155, 0, 0);
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.p3 {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;

    text-align: center;
    font-size: small;
}


.see-more-button2 {
    height: 27px;
    width: 85px;
    color: white;
    background-color: rgb(155, 0, 0);
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}


.secondparentbox {
    width: 84.2%;
    height: 150px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    justify-self: center;
    margin-top: 20px;
}

.divbox {
    width: 30%;
    height: 80%;
    background-color: rgb(240, 240, 240);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2vmin;
}

.orderonlinebox {
    height: 70%;
}

.pd {
    padding: 20px;
}

.fa-truck,
.fa-headphones,
.fa-shield-halved {
    padding-bottom: 18px;
}



.pd h4 {
    padding-bottom: 5px;
}

.pd p {
    font-size: larger;
}


.featuredsection {
    width: 100%;
    height: 333px;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.card {
    width: 333px;
    height: 333px;
    overflow: hidden;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: bottom/cover no-repeat;
    transition: transform 0.4s ease-in-out;
}

.image::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.4s ease-in-out;
    position: absolute;

}

.card:hover .image::after {
    background-color: rgba(0, 0, 0, 0.482);
}

.card:hover .image {
    transform: scale(1.4);
}

.text {
    width: 100%;
    height: 43%;
    background-color: transparent;
    color: white;
    position: absolute;
    justify-items: flex-end;
    font-size: 3.1vmin;
    bottom: 0;
    padding-right: 20px;
    margin-bottom: 10px;
}

.text .p1 {
    width: 80%;
    background-color: transparent;
    text-align: right;
    font-weight: 700;
    margin-bottom: 10px;
}

.text .p2 {
    color: white;
    font-size: 3vmin;

}

.card .text .p2 span {
    transform: translateX(-5px);
    transition: .3s;
    display: inline-block;
}

.card:hover .text .p2 span {
    transform: translateX(0);
}

.txt {
    height: 30%;
}

.background1 {
    background-image: url("../images/flowersforlove.png");
}

.background2 {
    background-image: url("../images/flowertosaysorry.jpg");
}

.background3 {
    background-image: url("../images/bridal.png");
}


.card3 {
    width: 333px;
    height: 333px;
    overflow: hidden;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: bottom/cover no-repeat;
    transition: transform 0.4s ease-in-out;
}

.image::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.4s ease-in-out;
    position: absolute;

}

.card:hover .image::after {
    background-color: rgba(0, 0, 0, 0.482);
}

.card:hover .image {
    transform: scale(1.4);
}

.text3 {
    width: 100%;
    height: 43%;
    background-color: transparent;
    color: white;
    position: absolute;
    justify-items: flex-end;
    font-size: 3.1vmin;
    bottom: 0;
    padding-right: 20px;
    margin-bottom: 10px;
}

.text3 .p1 {
    width: 80%;
    background-color: transparent;
    text-align: right;
    font-weight: 700;
    margin-bottom: 10px;
}

.text3 .p2 {
    color: white;
    font-size: 3vmin;

}

.card3 .text3 .p2 span {
    transform: translateX(-5px);
    transition: .3s;
    display: inline-block;
}

.card3:hover .text3 .p2 span {
    transform: translateX(0);
}

.txt3 {
    height: 30%;
}

.background1 {
    background-image: url("../images/flowersforlove.png");
}

.background2 {
    background-image: url("../images/flowertosaysorry.jpg");
}

.background3 {
    background-image: url("../images/bridal.png");
}



.whybox {
    width: 100%;
    height: 400px;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background-color: white;
    font-size: 2vmin;
}

.whysend {
    width: 84.2%;
    height: 328px;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 2vmin;
}

.toptext {
    margin-top: 10px;
    text-align: center;
    font-size: 1.5vw;
}

.whysendcontent {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.cont1p1 {
    margin-bottom: 10px;
}


.whybox2 {
    width: 100%;
    height: 355px;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background-color: white;
    font-size: 3vmin;
}

.whysend2 {
    width: 84.2%;
    height: 328px;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 2vmin;
}

.toptext2 {
    margin-top: 10px;
    text-align: center;
    font-size: 1.5vw;
}

.whysendcontent2 {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

}

.cont2p1 {
    margin-bottom: 10px;
}



.notjustbox {
    width: 100%;
    height: 479px;
    background-color: #68203B;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    font-size: 2vmin;
}

.notjusttextbox {
    height: 100%;
    width: 65%;
    background-color: rgb(224, 224, 236);
    display: flex;
    justify-content: center;
}

.notjustimagebox {
    height: 100%;
}

.notjustp {
    width: 50%;
    height: 100%;
    background-color: rgb(224, 224, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}




@media (max-width:460px) {
    .second-bg {
        background: url('../images/Elegant\ Floral\ Arrangement\ with\ White\ Roses\ and\ Baby\'s\ Breath.jpg') 0 70%;

    }

    .boxcontent {
        width: 73%;
        height: 45%;
    }

    .boxcontent2 {
        width: 100%;
        height: 40%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3vw;
        gap: 3vw;
        margin-bottom: 20px;
        /* grid-template-rows: 1fr 1fr; */
    }

    .boxcontent2 button.button-content {
        grid-column: 1/3;
    }

    .itemsbox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2vw;

    }

    .freshflowers {
        width: 100%;

    }

    .fresh-flower-text1 {
        height: unset;
        padding: 30px 10px;
    }

    .fresh-flower-text1 .p3 {
        justify-content: center;
        gap: 1.3vw;
    }


    .secondparentbox {
        height: 400px;
        flex-direction: column;
        gap: 1.6vw;
        font-size: 0.1vmin;
    }

    .divbox {
        height: 30%;
        width: 100%;
    }


    .featuredsection {
        justify-content: center;
        gap: 20px;
    }

    .featuredsection .card {
        width: 70%;
        height: 250px;
    }

    .popularbox {
        text-align: center;
    }

    .featuredsection {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .card3 {
        display: none;
    }

    .whybox {
        margin-top: -30px;
        height: 750px;
    }

    .whysend {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }


    .whybox2 {
        margin-top: 40px;
        height: 800px;
        font-size: 5vmin;
    }

    .whysend2 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .notjusttextbox {
        height: 100%;
        width: 100%;
        background-color: rgb(224, 224, 236);
        display: flex;
        justify-content: center;
        font-size: 3vmin;
    }

    .notjustimagebox {
        display: none;
    }
}

@media (min-width:461px) and (max-width:660px) {
    .boxcontent {
        width: 73%;
        height: 45%;
    }

    .boxcontent2 {
        width: 100%;

    }

    .itemsbox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2vw;



    }

    .freshflowers {
        width: 100%;
    }

    .secondparentbox {
        height: 400px;
        flex-direction: column;
        gap: 1.6vw;
    }

    .divbox {
        width: 100%;
    }

    .featuredsection {
        justify-content: center;
        gap: 20px;
    }

    .featuredsection .card {
        width: 60%;
        height: 270px;
    }

    .featuredsection {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    /* .featuredsection {
        justify-content: center;
        gap: 20px;
    /* }  */

    .featuredsection .card3 {
        width: 60%;
        height: 270px;
    }

    .card3 {
        display: none;
    }

    .popularbox {
        text-align: center;
    }


    .whybox {
        margin-top: -30px;
        height: 900px;
    }

    .whysend {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }


    .whybox2 {
        margin-top: 50px;
        height: 1000px;
    }

    .whysend2 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .notjusttextbox {
        height: 100%;
        width: 100%;
        background-color: rgb(224, 224, 236);
        display: flex;
        justify-content: center;
        font-size: 3vmin;
    }

    .notjustimagebox {
        display: none;
    }

}


@media (min-width:661px) and (max-width:860px) {
    .boxcontent {
        width: 70%;
        height: 50%;
    }

    .boxcontent2 {
        width: 90%;

    }

    .itemsbox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2vw;

    }

    .freshflowers {
        width: 100%;
    }



    .itemsbox .freshflowers:first-child .fresh-flowers-image {
        height: 100%;

    }

    .secondparentbox {
        height: 450px;
        flex-direction: column;
        gap: 1.6vw;
    }

    .divbox {
        width: 100%;
    }


    .featuredsection {
        justify-content: center;
        gap: 20px;
    }

    .featuredsection {
        flex-wrap: nowrap;
        flex-direction: row;
    }


    .card3 {
        display: none;
    }

    .popularbox {
        text-align: center;
    }

    .whybox {
        margin-top: 10px;
        height: 1000px;
    }

    .whysend {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .whybox2 {
        margin-top: 60px;
        height: 1250px;
    }

    .whysend2 {
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .notjusttextbox {
        height: 100%;
        width: 100%;
        background-color: rgb(224, 224, 236);
        display: flex;
        justify-content: center;
        font-size: 2.5vmin;
    }

    .notjustimagebox {
        display: none;
    }

}

@media (min-width:861px) and (max-width:1060px) {
    .boxcontent {
        width: 70%;
        height: 60%;
    }

    .boxcontent2 {
        width: 80%;

    }

    .secondparentbox {
        height: 400px;
        flex-direction: column;
        gap: 1.6vw;
    }

    .divbox {
        width: 100%;
    }


    .featuredsection {
        justify-content: center;
        gap: 10px;
    }


    .popularbox {
        margin-top: 30px;
        text-align: center;
    }


    .whybox {
        margin-top: 360px;
        height: 1100px;
    }

    .whysend {
        flex-direction: column;
        align-items: center;
        gap: 90px;
    }


    .whybox2 {
        margin-top: 70px;
        height: 1210px;
    }

    .whysend2 {
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

}

@media (min-width:1061px) {}